@tailwind base;
@tailwind components;
@tailwind utilities;

.editor-content {
  height: calc(100% - 5.5rem);
}
.custim-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: .5rem;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(187, 186, 186);
  border-radius: 3rem;
}

.note-list {
  height: calc(100% - 8.5rem);
  overflow-y: auto;
}
